* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #42429b;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #192a56;
    padding: 16px 0;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
    display: none;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-tenis {
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista-tenis li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-tenis li img {
    max-width: 100%;
}

.lista-tenis li h3 {
    margin: 16px 0;
}

.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #42429b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border-radius: 6px;
    cursor: pointer;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del {
    color: #8d8b8b;
    font-size: 14px;
}

.container h2, h3 {
    color: #42429b
    
}


    @media screen and (max-width: 767px) {

    header {
        padding-left: 16px;
        padding-right: 16px;
    }

    nav {
        width: 110%;
        margin-left: -16px;
    }

    .menu-hamburguer {
        display: none;
    }

    #sobre-a-loja img {
        margin-left: 16px;
        width: 120%;
    }
    
    .container{
        display: block;
    }

    section h2 {
        margin-top: 16px;
        margin-left: 16px;
    }

    section p {
        margin-left: 16px;
    }
    p {
        padding: 3px;
    }

    .lista-tenis {
        display: block;
        width: 1000px;
        margin-left: 80px;
    }
}